{% extends 'core/base.html' %}
{% block title %}Anuncio{% endblock %}
{% block header %}site-header{% endblock %}
{% block content %}
{% load static %}
{% for room in room %}
<div class="reservar">
    <h2 class="fw-300 centrar-texto">{{room.title}}</h2>
    <div class="contenedor-anuncio contenedor">
        <img src="{{room.image.url}}" alt="Anuncios">
        <div class="informacion">
            <div>
                <div>
                    <p>{{room.description}}</p>
                </div>
                <ul>
                    <li>
                        <p>Camas disponibles: {{room.NumRoom}}</p>
                    </li>
                    <li>
                        <p>Capacidad de: {{room.NumPeople}} persona</p>
                    </li>
                   <li>
                        <p> Precio: $ {{room.price}} la noche</p>
                    </li>
                </ul>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="">Seleccione la fecha de la reservacion</label>
                    {% if messages %}
                    {% for mensaje in messages %}
                    <div class="alert alert-{{mensaje.tags}} alert-dismissible fade show msg" role="alert">
                        {{mensaje}} <br>
                        {% with name="success" %}  
                        {% if name == mensaje.tags %}
                        <a href="{% url 'home' %}" class="btn btn-success">Acepto</a>
                        {% endif %}
                        {% endwith %}
                      </div>
                    {% endfor %}
                    {% endif %}
                    <input type="date" name="date" required min="{{fecha}}">
                    <input type="text" name="user" value="{{user.username}}" style="display:none">
                    <input type="text" name="email" value="{{user.email}}" style="display:none">
                    <input type="text" name="client" value="{{user.first_name}} {{user.last_name}}" style="display:none">
                    {% if user.is_authenticated %}
                    <button type="submit" class="boton boton-amarillo">Reservar</button>
                    {% else %}
                    <p style="color: red;">Debe logearse para realizar una reservacion!!!
                    <a style="color: red;" href="{% url 'login' %}">Login</a></p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}