{% extends 'core/base.html' %}
{% block title %}Anuncio{% endblock %}
{% block header %}site-header{% endblock %}
{% block content %}
{% load static %}
{% for room in room %}
<div class="reservar">
    <h2 class="fw-300 centrar-texto">{{room.title}}</h2>
    <div class="contenedor-anuncio contenedor">
        <img src="{{room.image.url}}" alt="Anuncios">
        <div class="informacion">
            <div>
                <div>
                    <p>{{room.description}}</p>
                </div>
                <ul>
                    <li>
                        <p>Camas disponibles: {{room.NumRoom}}</p>
                    </li>
                    <li>
                        <p>Capacidad de: {{room.NumPeople}} persona</p>
                    </li>
                   <li>
                        <p> Precio: $ {{room.price}} la noche</p>
                    </li>
                </ul>
                <form method="post" id="payment-form">
                    <label for="">Seleccione la fecha de la reservacion</label>
                    {% if messages %}
                    {% for mensaje in messages %}
                    <div class="msg">
                        <div class="alert alert-{{mensaje.tags}} alert-dismissible fade show mar" role="alert">
                            <p class="centrar-texto pad">{{mensaje}} <br>
                            {% with name="success" %}  
                            {% if name == mensaje.tags %}
                                <a href="{% url 'home' %}" class="btn btn-success">Acepto</a>
                            {% endif %}
                            {% endwith %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <input type="date" name="date" required min="{{fecha}}">
                    {% if user.is_authenticated %}
                    <div id="card-element" class="form-control form-control-lg" style="color: red;"></div>
                    <div id="card-errors" role="alert"></div>
                    <button id="submit" class="btn btn-lg btn-success">Pagar</button>
                    {% else %}
                    <p style="color: red;">Debe logearse para realizar una reservacion!!!
                    <a style="color: red;" href="{% url 'login' %}">Login</a></p>
                    {% endif %}
                    <input type="text" name="price" value="{{room.price}}" style="display:none">
                    <input type="text" name="user" value="{{user.username}}" style="display:none">
                    <input type="text" name="email" value="{{user.email}}" style="display:none">
                    <input type="text" name="client" value="{{user.first_name}} {{user.last_name}}" style="display:none">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var stripe = Stripe('pk_test_51LZIwGEtfHScMPzfeTsHCrdA88xv1bwx6TT3BdtDPz85sTcdcLpbtRDj4y874KMrSuyVXA2HiaYwlDPStY2dZCB100eF1zRUik');
    var elements = stripe.elements();
    var elements = stripe.elements();
    var style = {
    base: {
        color: "#32325d",
    }
    };

    var card = elements.create("card", { style: style });
    card.mount("#card-element");
    card.on('change', ({error}) => {
    let displayError = document.getElementById('card-errors');
    if (error) {
        displayError.textContent = error.message;
    } else {
        displayError.textContent = '';
    }
    });
</script>
{% endfor %}
{% endblock %}