{% extends 'core/base.html' %}
{% block title %}Anuncio{% endblock %}
{% block header %}site-header{% endblock %}
{% block content %}
{% load static %}
{% for room in room %}
    <h2 class="fw-300 centrar-texto">{{room.title}}</h2>
    <div class="contenedor-anuncio contenedor">    
        <img src="{{room.image.url}}" alt="Anuncios">
        <div class="informacion">
            <div>
                <ul class="iconos-caracteristicas">
                    <li>
                        <img src="{% static 'core/img/Icon_Person.png' %}" alt="Icono Persona">
                    </li>
                    <li>
                        <img src="{% static 'core/img/Icon_Cama.png' %}" alt="Icono Cama">
                    </li>
                    <li>
                        <img src="{% static 'core/img/Icon_Aire.png' %}" alt="Icono Aire">
                    </li>
                </ul>
            </div>
            <div>
                <p class="precio"> $ {{room.price}} la noche</p>
            </div>
            <div>
                <p>{{room.description}}</p> 
            </div>
        </div>
    </div>
{% endfor %}
    <div class="centrar-texto">
        <a href="#" class="boton boton-amarillo">Reservar</a>
    </div>
{% endblock %}