{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% load static %}
    <section class="contenedor section">
        <h2 class="fw-600 centrar-texto"> Más sobre nosotros </h2>
        <div class="iconos-nosotros">
            {% for about in about %}
                <div class="iconos">
                    <img src="{{about.image_security.url}}" alt="Icono
                        Seguridad">
                    <h3> Seguridad </h3>
                    <p>{{about.description_security}}</p>
                </div>
                <div class="iconos">
                    <img src="{{about.image_price.url}}" alt="Icono Precio">
                    <h3> Precios </h3>
                    <p>{{about.description_price}}</p>
                </div>
                <div class="iconos">
                    <img src="{{about.image_availability.url}}" alt="Icono Disponibilidad">
                    <h3> Disponibilidad </h3>
                    <p>{{about.description_availability}}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto">Tipos de Habitaciones disponibles</h2>
        <div class="contenedor-anuncios">
            {% for rooms in rooms %}
                <div class="anuncio">
                    <img src="{{rooms.image.url}}" alt="Anuncios">
                    <div class="contenido-anuncio">
                        <h3>{{rooms.title}}</h3>
                        <p>{{rooms.description}}</p>
                        <p class="precio"> $ {{rooms.price}} la noche</p>
                        {% if rooms.price != 100.0 %}<br>{% endif %}
                        <ul class="iconos-caracteristicas">
                            <li>
                                <img src="{% static 'core/img/Icon_Person.png' %}" alt="Icono Persona">
                                <p>4</p>
                            </li>
                            <li>
                                <img src="{% static 'core/img/Icon_Cama.png' %}" alt="Icono Cama">
                                <p>3</p>
                            </li>
                            <li>
                                <img src="{% static 'core/img/Icon_Aire.png' %}" alt="Icono Aire">
                                <p>Si</p>
                            </li>
                        </ul>
                        <a href="#" class="boton boton-amarillo d-block">Ver Habitacion</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="ver-todas">
            <a href="anuncio.html" class="boton boton-verde">Ver Todas</a>
        </div>
    </main>

    <section class="imagen-contactenos">
        <div class="contenedor contenido-contacto">
            <h2>Encuentre la mejor habitacion</h2>
            <p>Llene el formulario de contacto y un asesor se pondra en contacto
                con usted</p>
            <a href="" class="boton boton-amarillo">Contactenos</a>
        </div>
    </section>
    <div class="seccion-inferior contenedor section">
        <section class="blog">
            <h3 class="centrar-texto fw-600">Nuestro Blog</h3>
            <article class="entrada-blog">
                <div class="imagen">
                    <img src="{% static 'core/img/Blog1.jpg' %}" alt="Blog">
                </div>
                <div class="texto-entrada">
                    <a href="#">
                        <h4>La mejor Habitacion</h4>
                    </a>
                    <p>Escrito el: <em>01/07/2022</em> por: <em>Admin</em></p>
                    <p>Consejos para elegir la mejor habitacion segun tus gustos y
                        presupuestos </p>
                </div>
            </article>

            <!--Editar esta parte, esta igual a la de arriba-->
            <!--Esto-->
            <article class="entrada-blog">
                <div class="imagen">
                    <img src="{% static 'core/img/Blog2.jpg' %}" alt="Blog"> 
                </div>
                <div class="texto-entrada">
                    <a href="#">
                        <h4>La mejor Habitacion</h4>
                    </a>
                    <p>Escrito el: <em>01/07/2022</em> por: <em>Admin</em></p>
                    <p>Consejos para elegir la mejor habitacion segun tus gustos y
                        presupuestos </p>
                </div>
            </article>
            <!--Esto-->
        </section>

        <section class="testimoniales">
            <h3 class="centrar-texto fw-600">Testimoniales</h3>
            <div class="testimonial">
                <blockquote>
                    El personal se comporto de una excelennte forma, muy buena
                    atencion y las habitaciones que ofrecen son la mejores
                </blockquote>
                <p>-Edison Macias</p>
            </div>
        </section>
    </div>
{% endblock %}