<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
        <h1>Reporte de Reservaciones</h1>
        <table border="1" >
            <thead>
                <th>#</th>
                <th>Cliente</th>
                <th>Email</th>
                <th>Usuario</th>
                <th>Habitacion</th>
                <th>Fecha</th>
            </thead>
            <tbody>
                {% for reser in reser %}
                <tr>
                    <td>{{reser.id}}</td>
                    <td>{{reser.cliente}}</td>
                    <td>{{reser.mail}}</td>
                    <td>{{reser.user}}</td>
                    <td>{{reser.room}}</td>
                    <td>{{reser.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>