{% extends 'core/base.html' %}
{% block title %}Reservaciones{% endblock %}
{% block header %}site-header{% endblock %}
{% block content %}
{% load static %}
<div class="table mostrar">
    {% if messages %}
    {% for mensaje in messages %}
    <div class="msg">
        <div class="alert alert-{{mensaje.tags}} alert-dismissible fade show mar1" role="alert">
            <p class="centrar-texto pad">{{mensaje}}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <table border="1" id="example">
        <thead>
            <th class="ocultar">#</th>
            <th class="ocultar">Cliente</th>
            <th class="ocultar">Email</th>
            <th class="ocultar">Usuario</th>
            <th>Habitacion</th>
            <th>Fecha</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            {% for reser in reser %}
            {% if reser.user == user.username %}
            <tr>
                <td class="ocultar">{{reser.id}}</td>
                <td class="ocultar">{{reser.cliente}}</td>
                <td class="ocultar">{{reser.mail}}</td>
                <td class="ocultar">{{reser.user}}</td>
                <td>{{reser.room}}</td>
                <td>{{reser.date}}</td>
                <td><a href="{% url 'misreservacion' reser.id %}">Eliminar</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}